---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
// Removed unused SidebarContent import
import Hero from '../components/blocks/hero/PageHeader.astro'

import { Icon } from 'astro-icon/components'

// Content
// - SEO
const SEO = {
	title: 'RIASISSU | Dona il 5x1000',
	description: 'Dona il 5x1000 alla RIASISSU!'
}
// - Page Header
const header = {
	title: 'Dona il 5x1000 alla <strong>RIASISSU</strong>',
	text: 'Sostieni la nostra associazione!'
}

import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import Section from '../components/ui/Section.astro'
import { Image } from 'astro:assets'
import Logo from '../assets/2riasissu.svg'

const back = {
	src: '/5x1000.png',
	width: 100,
	height: 100,
	format: 'png'
}
---

<!-- <Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<SidebarContent>
		<div slot="sidebar">
			<h3>Come Fare?</h3>
		</div>
		<div class="basic-text">
			<p>
				Basta indicare e chiedere di indicare il Codice Fiscale della <strong>RIASISSU</strong>
				nella sezione preposta nella propria <strong>dichiarazione dei redditi</strong>, riepilogato
				nella sintesi che segue:
			</p>
			<table>
				<thead>
					<tr>
						<th>Campo</th>
						<th>Valore</th>
					</tr>
				</thead>
				<tbody>
					<tr
						><td>Regione sociale associazione</td><td
							>“RETE ITALIANA DELL3 ALLIEV3 DELLE SCUOLE E DEGLI ISTITUTI DI STUDI SUPERIORI
							UNIVERSITARI - APS”</td
						></tr
					>
					<tr><td>Codice fiscale Associazione</td><td>93086750507</td></tr>
				</tbody>
			</table>
		</div>
	</SidebarContent>
</Layout> -->
<Layout title={SEO.title} description={SEO.description}>
	<!-- <Hero classes="h-full" title={header.title} text={header.text} /> -->
	<Section bg={back} padding="none" classes="h-screen">
		<div class="flex h-screen flex-col items-start justify-between gap-4 py-24">
			<Image src={Logo} alt="RIASISSU Logo" class="h-64 w-64" />
			<h1 class="text-left" set:html={header.title} />
			<Row>
				<Col span="12" align="" classes="max-w-4xl mx-auto">
						<h3 class="text-pretty">Basta indicare e chiedere di indicare il Codice Fiscale della <strong>RIASISSU</strong>
							nella sezione preposta nella propria <strong>dichiarazione dei redditi</strong></h3>
	
					</Col>
				</Row>
				<div class="w-full flex flex-col items-center">
					<button id="scroll-btn"><Icon class="align-center h-16 w-16 text-pretty" name="chevron-down" /></button>
				</div>
			
		</div>		
	 </Section>
	<Section padding='none'>

		</Section>
		<Section padding='top'>
		<Row><Col span="12" align="center" classes="max-w-4xl mx-auto">
				<h2 class="text-pretty"><strong>RAGIONE SOCIALE</strong></h2>
				<h4>RETE ITALIANA DELL3 ALLIEV3 DELLE SCUOLE E DEGLI ISTITUTI DI STUDI SUPERIORI
					UNIVERSITARI - APS</h4>
		</Col></Row>
		</Section>
		<Section padding='both'>
					<h3 class="text-pretty">
						Basta indicare e chiedere di indicare il Codice Fiscale della <strong
							>RIASISSU</strong
						>
						nella sezione preposta nella propria <strong
							>dichiarazione dei redditi</strong
						>
					</h3>
				</Col>
			</Row>
			<div class="flex w-full flex-col items-center">
				<button id="scroll-btn"
					><Icon class="align-center h-16 w-16 text-pretty" name="chevron-down" /></button
				>
			</div>
		</div>
	</Section>
	<Section padding="none" />
	<Section padding="top">
		<Row
			><Col span="12" align="center" classes="max-w-4xl mx-auto">
				<h2 class="text-pretty"><strong>REGIONE SOCIALE</strong></h2>
				<h4>
					RETE ITALIANA DELL3 ALLIEV3 DELLE SCUOLE E DEGLI ISTITUTI DI STUDI SUPERIORI
					UNIVERSITARI - APS
				</h4>
			</Col></Row
		>
	</Section>
	<Section padding="both">
		<Row>
			<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
				<h2 class="text-pretty"><strong>CODICE FISCALE</strong></h2>
			</Col>
			</Row>
			<Row>
				<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
						<div id="cf-div" class="flex flex-row items-center gap-4">
							<h2 id="cf-text" class="mb-0 text-pretty border-b px-2 py-2 border-neutral-600 border-l border-r border-t">93086750507</h2>
							<button id="cf-button"><Icon id="icon1" class="h-8 w-8" name="clipboard-document-list" /><Icon id="icon2" class="h-8 w-8 hidden" name="cliboard-document-check" /></button>
						</div>	
					</Col>
				</Row>
		</Row>
		<Row>
			<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
				<div id="cf-div" class="flex flex-row items-center gap-4">
					<h2
						id="cf-text"
						class="mb-0 text-pretty border-b border-l border-r border-neutral-600 px-2 py-2"
					>
						93086750507
					</h2>
					<button id="cf-button"
						><Icon id="icon1" class="h-8 w-8" name="clipboard-document-list" /><Icon
							id="icon2"
							class="hidden h-8 w-8"
							name="cliboard-document-check"
						/></button
					>
				</div>
			</Col>
		</Row>
	</Section>
</Layout>

<!-- <style>
	table{
		max-width: 800px;
		border-spacing: 2px	;
		vertical-align: baseline;
	}
	thead{
		display: table-header-group;
		vertical-align: middle;
		unicode-bidi: isolate;
		border-bottom-width: 2px;
	}
	td{
		padding-right: 1em;
	}
	tbody{
		display: table-row-group;
		vertical-align: middle;
		unicode-bidi: isolate;
	}
	tr:last-child{
		border-bottom-width: 0px;	
	}
	tr{
		border-bottom-width: 1px;	
	}
</style> -->
